<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <link rel="shortcut icon" href="{{ 'posters-favicon-square.png' | file_url }}" type="image/png" />
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

<link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
<link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png' | asset_url }}">
<meta name="theme-color" content="#ffffff">

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  <meta name="viewport" content="width=1024, initial-scale=0.1">
  
  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-cards' %}

  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style type="text/css">
    @font-face {
      font-family: 'FranklinGothicMdCd';
      src: url({{ 'FranklinGothic-MedCd-webfont.eot' | asset_url }});
      src: url({{ 'FranklinGothic-MedCd-webfont.eot?#iefix' | asset_url }}) format('embedded-opentype'),
           url({{ 'FranklinGothic-MedCd-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'FranklinGothic-MedCd-webfont.woff' | asset_url }}) format('woff'),
           url({{ 'FranklinGothic-MedCd-webfont.ttf' | asset_url }}) format('truetype'),
           url({{ 'FranklinGothic-MedCd-webfont.svg#franklin_gothic_fs_capsMdCn' | asset_url }}) format('svg');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'FranklinGothicMdCd';
      src: url({{ 'FranklinGothic-MedCdIt-webfont.eot' | asset_url }});
      src: url({{ 'FranklinGothic-MedCdIt-webfont.eot?#iefix' | asset_url }}) format('embedded-opentype'),
           url({{ 'FranklinGothic-MedCdIt-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'FranklinGothic-MedCdIt-webfont.woff' | asset_url }}) format('woff'),
           url({{ 'FranklinGothic-MedCdIt-webfont.ttf' | asset_url }}) format('truetype'),
           url({{ 'FranklinGothic-MedCdIt-webfont.svg#franklin_gothic_fs_capsMdCn' | asset_url }}) format('svg');
      font-weight: bold;
      font-style: italic;
    }

    @font-face {
        font-family: 'FranklinGothic-Cd';
        src: url({{ 'FranklinGothic-Cd-webfont.eot' | asset_url }});
        src: url({{ 'FranklinGothic-Cd-webfont.eot?#iefix' | asset_url }}) format('embedded-opentype'),
             url({{ 'FranklinGothic-Cd-webfont.woff2' | asset_url }}) format('woff2'),
             url({{ 'FranklinGothic-Cd-webfont.woff' | asset_url }}) format('woff'),
             url({{ 'FranklinGothic-Cd-webfont.ttf' | asset_url }}) format('truetype'),
             url({{ 'FranklinGothic-Cd-webfont.svg#franklin_gothic_fs_capsMdCn' | asset_url }}) format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'FranklinGothicCd';
        src: url({{ 'FranklinGothic-CdIt-webfont.eot' | asset_url }});
        src: url({{ 'FranklinGothic-CdIt-webfont.eot?#iefix' | asset_url }}) format('embedded-opentype'),
             url({{ 'FranklinGothic-CdIt-webfont.woff2' | asset_url }}) format('woff2'),
             url({{ 'FranklinGothic-CdIt-webfont.woff' | asset_url }}) format('woff'),
             url({{ 'FranklinGothic-CdIt-webfont.ttf' | asset_url }}) format('truetype'),
             url({{ 'FranklinGothic-CdIt-webfont.svg#franklin_gothic_fs_capsMdCn' | asset_url }}) format('svg');
        font-weight: normal;
        font-style: italic;
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {{ 'all.css' | asset_url | stylesheet_tag }}
  <!-- {{ 'styles.css' | asset_url | stylesheet_tag }} -->
  
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {{ 'html5shiv.js' | asset_url | script_tag }}

  {{ content_for_header }}
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' | script_tag }}
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script src="{{ 'moment.min.js' | asset_url }}"></script>
  {{ 'scripts.js' | asset_url | script_tag }}
  
  <script src="{{ 'hogan-3.0.1.js' | asset_url }}"></script>
  <script src="{{ 'socialgrid.js' | asset_url }}"></script>

</head>

<body style="background-image: url({{ 'bgtexture.jpg' | asset_url }})">
  <div id="main-wrapper">
    <header id="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <nav>
              <ul>
                <li id="logo"><a href="/" style="background-image: url({{ 'logo.png' | asset_url }})">{{ shop.name }}</a></li>
                {% for link in linklists.main-menu.links %}
                {% assign current = false %}
                {% if template == 'index' and link.url == '/' %}
                  {% assign current = true %}
                {% else %}{% if collection.url == link.url %}
                  {% assign current = true %}
                {% else %}{% if page.url == link.url %}
                  {% assign current = true %}
                {% else %}{% if page_title == link.title %}
                  {% assign current = true %}
                {% else %}{% if template == 'list-collections' and link.url == '/collections' %}
                  {% assign current = true %}
                {% else %}{% if page_title == 'Products' and link.url == '/collections/all' %}
                  {% assign current = true %}
                {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                
                <li><a{% if current %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          <div class="col-sm-3">
            <div id="cart-info">
              <!-- <a href="/account/login" class="login">Sign In / Register</a> -->
              <span>My Bag</span>
              <a href="/cart" class="toggle-cart" style="background-image: url({{ 'icon-bag.png' | asset_url }})">{{ cart.item_count }}</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="main-content">
      {{ content_for_layout }}
    </div>

    <footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <div class="mailchimp-subscribe">
              <div id="mc_embed_signup">
                <form action="//attckdigital.us9.list-manage.com/subscribe/post?u=fba80489939b53759b52c03f9&amp;id=66c7520250" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email to subscribe to our monthly newsletter">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fba80489939b53759b52c03f9_66c7520250" tabindex="-1" value=""></div>
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" class="sprite arrow-white-right ir"></button>
                  </div>
                </form>
              </div>



            </div>
          </div>
          <div class="col-sm-5">
            <div class="social-follow-us">

              <h2>Follow us</h2>
              
              <a href="https://www.facebook.com/ThePosters.co" class="social-icon" target="_blank">
                <img src="{{ 'facebook_rollover.jpg' | asset_url }}" alt="FaceBook" class="hover hover-on" />
                <img src="{{ 'facebook.jpg' | asset_url }}" alt="FaceBook" class="hover hover-off" />
              </a>
              <a href="https://twitter.com/ThePosters" class="social-icon" target="_blank">
                <img src="{{ 'twitter_rollover.jpg' | asset_url }}" alt="Twitter" class="hover hover-on" />
                <img src="{{ 'twitter.jpg' | asset_url }}" alt="Twitter" class="hover hover-off" />
              </a>
              <a href="http://instagram.com/theposters.co" class="social-icon" target="_blank">
                <img src="{{ 'instagram_overlay.jpg' | asset_url }}" alt="Instagram" class="hover hover-on" />
                <img src="{{ 'instagram.jpg' | asset_url }}" alt="Instagram" class="hover hover-off" />
              </a>
              <!-- <a href="http://thepostersco.tumblr.com" class="social-icon" target="_blank">
                <img src="{{ 'tumblr_rollover.jpg' | asset_url }}" alt="Tumblr" class="hover hover-on" />
                <img src="{{ 'tumblr.jpg' | asset_url }}" alt="Tumblr" class="hover hover-off" />
              </a> -->

              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <nav>
              <ul>
                <li><span>&copy; 2014 The Posters</span></li>
                <li><a href="/blogs/press">Press Coverage</a></li>
                <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                <li><a href="/pages/terms-of-use">Terms of Use</a></li>
                <li><a href="/pages/contact-us">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div id="cart-flyout">
    <a href="/collections/all" class="cart-top-btn" id="keep-shopping">Keep Shopping</a>
    <a href="/checkout" class="cart-top-btn" id="checkout">Checkout</a>

    <div class="subtotal">
      <h2>Subtotal <div class="subtotal-price">{{cart.total_price | money}}</div><small>(Tax Not Included)</small></h2>

      <div class="gift-card">
      </div>

    </div>
    {% if cart.item_count == 0 %}
    <div class="number-of-items">
        {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}
      </div>
    <div class="cart-items">
      <h2 class="empty-cart">Your cart is empty.</h2>
    </div>
    {% else%}
      <div class="number-of-items">
        {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}
      </div>
      <div class="cart-items">
        {% for item in cart.items %}
        <div class="cart-item">
          <div class="image">
            <img src="{{ item | img_url: 'small' }}"  alt="{{ item.product.title }}" />
          </div>
          <div class="info">
            <a href="/cart/change?line={{ forloop.index }}&quantity=0" data-lid="{{ forloop.index + 1 }}" class="remove-item"><div class="remove-cart-item-icon" style="background-image: url({{ 'closeicon.png' | asset_url }})"></div></a>
            <h3>{{ item.product.title }}</h3>
            
            
            <div class="qty">
              QTY <input type="text" size="2" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" /> <a href="#" class="update-cart" data-lid="{{ forloop.index + 1 }}">Update</a>
            </div>
            <div class="price">
              {{ item.line_price | money }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="gift-note">
        <p>Are you sending this as a gift?<br />Add a message to your order:</p>
        <textarea name="attributes[note]" placeholder="Your message...">{{ cart.attributes.note }}</textarea>
      </div>
    {% endif %}
  </div>
</body>
</html>
