<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="product-slideshow">
      <div class="left control active">
        <div class="arrow" style="background-image: url({{ 'helparrowsprite.png' | asset_url }})"></div>
        <div class="poster-preview">
          <div class="image"><img src="{{collections[settings.frontpage_collection].products.last.featured_image | product_img_url: 'small'}}" /></div>
          <div class="artist">{{collections[settings.frontpage_collection].products.last.vendor}}</div>
        </div>
      </div>
      <div class="right control active">
        <div class="poster-preview">
          <div class="image"><img src="{{collections[settings.frontpage_collection].products[1].featured_image | product_img_url: 'small'}}" /></div>
          <div class="artist">{{collections[settings.frontpage_collection].products[1].vendor}}</div>
        </div>
        <div class="arrow" style="background-image: url({{ 'helparrowsprite.png' | asset_url }})"></div>
      </div>

      {% for product in collections[settings.frontpage_collection].products %}
      {% assign featuredproduct = product %}
      {% if featuredproduct.handle != blank  %}

        <div class="previewImage_container anim1" data-expdate="{{featuredproduct.metafields.visibility.expirationdate}}">
          <img src="{{ featuredproduct.featured_image | product_img_url: 'grande' }}" alt="{{ featuredproduct.title }}" />
          <hr class="top" />
          <hr class="bottom" />
          <div class="copy date">{{ featuredproduct.vendor }}</div>
          <div class="copy title">{{ featuredproduct.title }}</div>
          <div class="copy availability">Available for <span class="days-remaining">--</span> more days</div>
          <a href="{{ featuredproduct.url }}" class="btn button action">See Poster</a>
          <div class="blackscreen"></div>
        </div>

      {% endif %}
      {% endfor %}

    </div>
    </div>
  </div>
</div>

{% include 'we-are-posters' %}

{% include 'fundedhours' %}

<div id="press-section" style="background-image: url({{ 'presssat.png' | asset_url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          {% for article in blogs["press"].articles limit: 7 %}
            <li>{{ article.content }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>
