{% capture collection_handle %}
  {{ product-loop | handleize }}
{% endcapture %}
{% capture url %}
  {% if collection_handle != "" %}
    /collections/{{ product-loop }}{{ product.url }}
  {% else %}
    {{ product.url }}
  {% endif %}
{% endcapture %}
<form method="post" action="/cart/add" id="{{ product.variants.first.id }}">
  <div class="product gift-card" id="{{ product.variants.first.id }}">
    <div class="poster-clips" style="background-image: url({{'posterclips.png' | asset_url}})"></div>
    <div class="image">
     
    </div>

   
    <div class="details">
      <h2 class="shadow-header">{{ product.price | money_without_trailing_zeros }}</h2>
      <small>{{ product.description }}</small>
    </div>
    <div class="purchase">
        
        <div class="quantity-wrapper">
          <label>QTY</label>
          <input id="quantity" type="text" name="quantity" value="1" class="tc item-quantity" />
        </div>
        <div class="add-to-cart-info">
          <div class="product-available">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <input type="submit" id="add-to-cart" value="Add to Bag" class="btn addtocart-collection" />
          </div>
        </div>

    </div>
  </div>
</form>    
